extends base
mixin booking(booking)
  .user(id=`${booking.id}` class=`${booking.paid ? '' : 'user--inactive'}`)
    img.user-image(src=`/img/tours/${booking.tour.imageCover}` alt='user image')
    .user-details
      h3.user-details__heading-tretiary #{booking.user.name}
      p.user-details__email #{booking.tour.name}
      p.user-details__role #{booking.price}
    .options
      input.toggler(type='checkbox')
      .options__dots-container
        .options__dots
      .user__options
        ul.user__options__list
          li.user__options__li.user__options__li--eu
            a(href=`/manage-bookings/${booking.id}`)
              p Edit booking
            svg.dropdown__icon.dropdown__icon--edit
              use(xlink:href='/img/icons.svg#icon-edit-2')
          li.user__options__li.user__options__li--db(data-id=`${booking.id}`)
            a(href='#')
              p Delete
            svg.dropdown__icon.dropdown__icon--delete
              use(xlink:href='/img/icons.svg#icon-trash-2')
block content
  .main
    .confirm-delete.hidden
      .confirm-delete__header
        svg.confirm-delete__icon.dropdown__icon--delete
          use(xlink:href='/img/icons.svg#icon-trash-2')
        p.confirm-delete__header__text Delete Booking
      .confirm-delete__body
        p.confirm-delete__body__text
          | Deleting the Booking will permanently remove him from the DB.
        .confirm-delete__body__buttons
          a.btn.btn--red.btn--delete-booking(href='#') Yes, Delete Booking
          a.btn.btn--white.btn--cancel(href='#') No, Keep Booking
    .overlay.hidden
    .users-container
      for booking in bookings
        +booking(booking)